#top-most EditorConfig for project
root = true

[*]
end_of_line = crlf
insert_final_newline = true

[*.cs]
indent_style = space
indent_size = 4

[*.{xml,csproj,config}]
indent_style = tab
indent_size = 4

[*.json]
indent_style = space
indent_size = 2

[*.js]
indent_style = space
indent_size = 2

[*.yml]
indent_style = space
indent_size = 2
