src/CommandLine/bin/*
src/CommandLine/obj
demo/ReadText.Demo/bin/*
demo/ReadText.Demo/obj
src/CommandLine.Tests/bin/*
src/CommandLine.Tests/obj
src/CommandLine.FSharp/bin/*
src/CommandLine.FSharp/obj
src/CommandLine.FSharp.Tests/bin/*
src/CommandLine.FSharp.Tests/obj
src/templates/CSharpTemplate/bin/*
src/templates/CSharpTemplate/obj 
src/templates/VBNetTemplate/bin/*
src/templates/VBNetTemplate/obj
build/*
packages
*.suo
*.userprefs
*~
\#*\#
*.pidb
*.test-cache
src/CommandLine/test-results/*
src/CommandLine.Tests/test-results/*
*.DS_Store
*.csproj.user
TestResult.xml
*.nupkg
*.old
StyleCop.Cache
.paket/paket.exe
