source https://nuget.org/api/v2

nuget FAKE
nuget FSharp.Core
nuget FluentAssertions
nuget xunit
nuget xunit.runner.visualstudio version_in_path: true
nuget xunit.runner.console
nuget FSharp.Formatting
nuget FsCheck

github gsscoder/CSharpx src/CSharpx/Maybe.cs
github gsscoder/CSharpx src/CSharpx/EnumerableExtensions.cs
github gsscoder/railwaysharp src/RailwaySharp/ErrorHandling.cs
