<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Formatting" version="2.4.24" targetFramework="net45" />
  <package id="FSharp.Compiler.Service" version="0.0.44" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net45" />
  <package id="RazorEngine" version="3.3.0" targetFramework="net45" />
</packages>